{% extends 'home/layout.html' %}

{% block title %}
    Lecture
{% endblock title %}

{% block content %}
    <h1>Welcome to the Lecture Room !!</h1>
    <p>Get to know about the campus and the courses offered below:</p>
<section>
    We are very glad and excited to have you here amongst us
    to learn more about us and what we offer and what you should achieve
    at the end of your study click on the links below to proceed.
</section>

<a href="#">Courses Available</a>

{% endblock content %}